<div
    class="container-fluid justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <div class="card">

        <h3 class="mb-3" style="margin-left: 20px; margin-top: 20px;">Bills</h3>


        <div style="padding: 2rem">
            <p-table #dt2 dataKey="id" [value]="billproducts" styleClass="p-datatable-striped" rows="10" [paginator]="true"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['id', 'totalQuantity', 'clientName', 'date','totalPrice', 'paymentReceived', 'remainingPayment']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" style="background-color: #231F20; color: #A47B2C; border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;">
                            Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="clientName" style="background-color: #231F20; color: #A47B2C;">
                            client Name <p-sortIcon field="clientName"></p-sortIcon></th>
                        <th pSortableColumn="totalQuantity" style="background-color: #231F20; color: #A47B2C;">
                            Total Quantity <p-sortIcon field="totalQuantity"></p-sortIcon></th>
                        <th pSortableColumn="date" style="background-color: #231F20; color: #A47B2C;">
                            Date <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="totalPrice" style="background-color: #231F20; color: #A47B2C;">
                            Total Price <p-sortIcon field="totalPrice"></p-sortIcon></th>
                        <th pSortableColumn="paymentReceived" style="background-color: #231F20; color: #A47B2C;">
                            Payment Received <p-sortIcon field="paymentReceived"></p-sortIcon></th>
                        <th pSortableColumn="remainingPayment" style="background-color: #231F20; color: #A47B2C;">
                            Remaining Payment <p-sortIcon field="remainingPayment"></p-sortIcon></th>
                        <th style="background-color: #231F20; color: #A47B2C; border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;">Action</th>
                    </tr>
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="id"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="clientName"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="totalQuantity"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="date" field="date"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="totalPrice"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="paymentReceived"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="remainingPayment"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.clientName}}</td>
                        <td>{{product.totalQuantity}}</td>
                        <td>{{product.date}}</td>
                        <td>{{product.totalPrice}}</td>
                        <td>{{product.paymentReceived}}</td>
                        <td>{{product.remainingPayment}}</td>
                        <td>
                            <ul class="list-inline font-size-20 contact-links mb-0">
                                <li class="list-inline-item">
                                    <div dropdown class="dropdown">
                                        <a class="dropdown-toggle card-drop px-2 show" (click)="tb.toggle($event)"
                                            aria-expanded="true">
                                            <i class="pi pi-ellipsis-h"></i> </a>
                                        <p-overlayPanel #tb placement="bottom-end">
                                            <a (click)="ViewtUser(product.id)"
                                                class="dropdown-item edit-list" data-edit-id="8"><i
                                                    class="pi pi-search text-dark me-1"></i> View</a>
                                            <a href="javascript:void(0);" (click)="edit(product.id)"
                                                class="dropdown-item edit-list" data-edit-id="8"><i
                                                    class="pi pi-pencil text-success me-1"></i> Edit</a>
                                            <a href="javascript:void(0);" (click)="print(product.id)"
                                                class="dropdown-item edit-list" data-edit-id="8"><i
                                                    class="pi pi-print text-primary me-1"></i> Print</a>
                                            <a href="javascript:void(0);" (click)="removeUser(product.id)"
                                                class="dropdown-item remove-list" data-remove-id="8"><i
                                                    class="pi pi-trash text-danger me-1"></i> Delete</a>
                                        </p-overlayPanel>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog header="Product Details" [(visible)]="selectedProduct" [modal]="true" [responsive]="true">
    <ng-template pTemplate="content">
        <div class="product-details" *ngFor="let val of viewproduct">
          <p>ID: {{ val.id }}</p>
          <p>Client Name: {{ val.clientName }}</p>
          <p>Date: {{ val.date }}</p>
          <p>Total Quantity: {{ val.totalQuantity }}</p>
          <p>Total Price: {{ val.totalPrice }}</p>
          <p>Payment Received: {{ val.paymentReceived }}</p>
          <p>Remaining Payment: {{ val.remainingPayment }}</p>
      
          <table class="item-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Code</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of val.items">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.code }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>      
  </p-dialog>